openapi: 3.0.3
info:
  title: Qutaifan ERP API
  description: |
    REST API for Qutaifan ERP & CRM Solutions.
    
    ## Authentication
    All endpoints require an API key passed in the `DOLAPIKEY` header.
    
    Get your API key from: **Setup → Users → [User] → API Key**
    
    ## Rate Limits
    - 100 requests/minute per API key
    - 1000 requests/hour per API key
  version: 1.0.0
  contact:
    name: Qutaifan Support
    url: https://qutaifan.com
    email: support@qutaifan.com
  license:
    name: GPL-3.0
    url: https://www.gnu.org/licenses/gpl-3.0.html

servers:
  - url: https://erp.qutaifan.com/api/index.php
    description: Production
  - url: http://localhost:8080/api/index.php
    description: Local Development

security:
  - ApiKeyAuth: []

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: DOLAPIKEY
      description: Your Dolibarr API key

  schemas:
    Product:
      type: object
      properties:
        id:
          type: integer
          example: 1
        ref:
          type: string
          example: "PROD-001"
        label:
          type: string
          example: "Premium Widget"
        price:
          type: number
          format: float
          example: 99.99
        stock_reel:
          type: number
          example: 150
        barcode:
          type: string
          example: "1234567890123"

    ThirdParty:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        email:
          type: string
        phone:
          type: string
        address:
          type: string
        client:
          type: integer
          description: "1=Customer, 0=Not customer"
        fournisseur:
          type: integer
          description: "1=Supplier, 0=Not supplier"

    Invoice:
      type: object
      properties:
        id:
          type: integer
        ref:
          type: string
          example: "FA2412-0001"
        socid:
          type: integer
          description: Third party ID
        date:
          type: string
          format: date
        total_ht:
          type: number
        total_ttc:
          type: number
        statut:
          type: integer
          description: "0=Draft, 1=Validated, 2=Paid"

    Order:
      type: object
      properties:
        id:
          type: integer
        ref:
          type: string
        socid:
          type: integer
        date:
          type: string
          format: date
        total_ht:
          type: number
        total_ttc:
          type: number
        statut:
          type: integer

    StockMovement:
      type: object
      properties:
        id:
          type: integer
        product_id:
          type: integer
        warehouse_id:
          type: integer
        qty:
          type: number
        type:
          type: integer
          description: "0=Entry, 1=Exit, 2=Transfer"
        datem:
          type: string
          format: date-time

    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: integer
            message:
              type: string

paths:
  /login:
    get:
      tags: [Authentication]
      summary: Test API connection
      description: Verify your API key is valid
      responses:
        "200":
          description: Success - returns user info
        "401":
          description: Invalid API key

  /products:
    get:
      tags: [Products]
      summary: List all products
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
        - name: page
          in: query
          schema:
            type: integer
            default: 0
        - name: sortfield
          in: query
          schema:
            type: string
            default: "t.ref"
        - name: sortorder
          in: query
          schema:
            type: string
            enum: [ASC, DESC]
            default: ASC
      responses:
        "200":
          description: List of products
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Product"
    post:
      tags: [Products]
      summary: Create a product
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ref, label]
              properties:
                ref:
                  type: string
                label:
                  type: string
                price:
                  type: number
                barcode:
                  type: string
      responses:
        "200":
          description: Product created

  /products/{id}:
    get:
      tags: [Products]
      summary: Get product by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Product details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
    put:
      tags: [Products]
      summary: Update product
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Product"
      responses:
        "200":
          description: Product updated
    delete:
      tags: [Products]
      summary: Delete product
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Product deleted

  /thirdparties:
    get:
      tags: [Third Parties]
      summary: List customers and suppliers
      parameters:
        - name: mode
          in: query
          description: Filter by type
          schema:
            type: integer
            enum: [1, 2, 3, 4]
            description: "1=Customers, 2=Prospects, 3=Deleted, 4=Suppliers"
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
      responses:
        "200":
          description: List of third parties
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ThirdParty"
    post:
      tags: [Third Parties]
      summary: Create customer/supplier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                email:
                  type: string
                phone:
                  type: string
                client:
                  type: integer
                fournisseur:
                  type: integer
      responses:
        "200":
          description: Third party created

  /thirdparties/{id}:
    get:
      tags: [Third Parties]
      summary: Get third party by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Third party details

  /invoices:
    get:
      tags: [Invoices]
      summary: List invoices
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, unpaid, paid, cancelled]
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
      responses:
        "200":
          description: List of invoices
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Invoice"
    post:
      tags: [Invoices]
      summary: Create invoice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [socid]
              properties:
                socid:
                  type: integer
                  description: Customer ID
                date:
                  type: string
                  format: date
      responses:
        "200":
          description: Invoice created

  /invoices/{id}:
    get:
      tags: [Invoices]
      summary: Get invoice by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Invoice details

  /invoices/{id}/validate:
    post:
      tags: [Invoices]
      summary: Validate draft invoice
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Invoice validated

  /orders:
    get:
      tags: [Orders]
      summary: List sales orders
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
      responses:
        "200":
          description: List of orders
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Order"

  /orders/{id}:
    get:
      tags: [Orders]
      summary: Get order by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Order details

  /stockmovements:
    get:
      tags: [Stock]
      summary: List stock movements
      parameters:
        - name: product_id
          in: query
          schema:
            type: integer
        - name: warehouse_id
          in: query
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
      responses:
        "200":
          description: Stock movements
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/StockMovement"
    post:
      tags: [Stock]
      summary: Create stock movement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [product_id, warehouse_id, qty]
              properties:
                product_id:
                  type: integer
                warehouse_id:
                  type: integer
                qty:
                  type: number
                label:
                  type: string
      responses:
        "200":
          description: Movement created

  /warehouses:
    get:
      tags: [Stock]
      summary: List warehouses
      responses:
        "200":
          description: List of warehouses

  /categories:
    get:
      tags: [Categories]
      summary: List categories
      parameters:
        - name: type
          in: query
          description: Category type
          schema:
            type: string
            enum: [product, customer, supplier, contact, project]
      responses:
        "200":
          description: List of categories

tags:
  - name: Authentication
    description: API authentication
  - name: Products
    description: Product management
  - name: Third Parties
    description: Customers and suppliers
  - name: Invoices
    description: Invoice management
  - name: Orders
    description: Sales orders
  - name: Stock
    description: Inventory and stock movements
  - name: Categories
    description: Category management
